

body{
    margin:0;
    width:5500px;
    font-family: 'VT323', monospace;
    font-size: 40px;
}

.main-content{
    width:100%;
    height: 100px;
}

.div-column{
    height:50px;
    background-color: #f5f4f4;
    color:#1F1E20;
    text-align: center;
    padding-top:10px;
    padding-bottom:30px;
    float:left;
}
.div-column-w{
    height:50px;
    background-color: #1F1E20;
    color: white;
    text-align: center;
    padding-top:10px;
    padding-bottom:30px;
    float:left;
}
span{
    display: list-item;
    list-style-type: none;
    color:#34b11e;
}
marquee{
    background-color: #1F1E20;
}
li{
    list-style-type: none;
}

:root {
    --marquee-width: 5500px;
    --marquee-height: 200px;
    /* --marquee-elements: 12; */ /* defined with JavaScript */
    --marquee-elements-displayed: 14;
    --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
    --marquee-animation-duration: calc(var(--marquee-elements) * 6s);
  }
  
  .marquee {
    width: var(--marquee-width);
    height: var(--marquee-height);
    background-color: #111;
    color: #eee;
    overflow: hidden;
    position: relative;
  }
  .marquee:before, .marquee:after {
    position: absolute;
    top: 0;
    width: 10rem;
    height: 100%;
    content: "";
    z-index: 1;
  }
  .marquee:before {
    left: 0;
  }
  .marquee:after {
    right: 0;
  }
  .marquee-content {
    list-style: none;
    height: 100%;
    display: flex;
    animation: scrolling var(--marquee-animation-duration) linear infinite;
  }
  /* .marquee-content:hover {
    animation-play-state: paused;
  } */
  @keyframes scrolling {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements))); }
  }
  .marquee-content li {
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
    flex-shrink: 0;
    width: var(--marquee-element-width);
    max-height: 100%;
    white-space: nowrap;
  }
  
  .marquee-content li img {
    width: 100%;
    /* height: 100%; */
    border: 2px solid #eee;
  }
  
  @media (max-width: 600px) {
    html { font-size: 12px; }
    :root {
      --marquee-width: 100vw;
      --marquee-height: 16vh;
      --marquee-elements-displayed: 14;
    }
    .marquee:before, .marquee:after { width: 5rem; }
  }