<html>
    <head>
        <meta http-equiv="refresh" content="60">
        <link href="https://fonts.googleapis.com/css?family=VT323&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
<div class="main-content">
      <div class="marquee">
      <ul class="marquee-content">
          
    <div class="div-column"><li>TIIE 28 <span class="TIIE28"></span></li></div>
    <div class="div-column-w"><li>TIIE 91 <span class="TIIE91"></span></li></div>
    <div class="div-column"><li>TIIE 182 <span class="TIIE182"></span></li></div>
    <div class="div-column-w"><li>LIBOR 1M <span class="LIBOR1M"></span></li></div>
    <div class="div-column"><li>LIBOR 2M <span class="LIBOR2M"></span></li></div>
    <div class="div-column-w"><li>LIBOR 3M <span class="LIBOR3M"></span></li></div>
    <div class="div-column"><li>LIBOR 6M <span class="LIBOR6M"></span></li></div>

    <div class="div-column-w"><li>LIBOR 12M <span class="LIBOR12M"></span></li></span></div>
    <div class="div-column"><li>MXN/USD <span class="MXNUSD"></span></li></div>
    <div class="div-column-w"><li>USD/MXN <span class="USDMXN"></span></li></div>
    <div class="div-column"><li>EUR/USD <span class="EURUSD"></span></li></div>
    <div class="div-column-w"><li>USD/EUR <span class="USDEUR"></span></li></div>
    <div class="div-column"><li>MXN/EUR <span class="MXNEUR"></span></li></div>
    <div class="div-column-w"><li>EUR/MXN <span class="EURMXN"></span></li></div>

      </ul>     


      </div>

     </div>


     <script>
             setInterval(function() {
                  window.location.reload();
                }, 60000); 
     </script>
<script src="/index.js"></script> 
<script src="/marquee.js"></script>
    </body>
</html>