<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=VT323&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
<div class="main-content">
    <marquee style="width:2562px;" direction="left" loop="infinite">
       

    <div class="div-column">TIIE 28 <span id="TIIE28"></span></div>
    <div class="div-column-w">TIIE 91 <span id="TIIE91"></span></div>
    <div class="div-column">TIIE 182 <span id="TIIE182"></span></div>
    <div class="div-column-w">LIBOR 1M <span id="LIBOR1M"></span></div>
    <div class="div-column">LIBOR 2M <span id="LIBOR2M"></span></div>
    <div class="div-column-w">LIBOR 3M <span id="LIBOR3M"></span></div>
    <div class="div-column">LIBOR 6M <span id="LIBOR6M"></span></div>

    <div class="div-column-w">LIBOR 12M <span id="LIBOR12M"></span></div>
    <div class="div-column">MXN/USD <span id="MXNUSD"></span></div>
    <div class="div-column-w">USD/MXN <span id="USDMXN"></span></div>
    <div class="div-column">EUR/USD <span id="EURUSD"></span></div>
    <div class="div-column-w">USD/EUR <span id="USDEUR"></span></div>
    <div class="div-column">MXN/EUR <span id="MXNEUR"></span></div>
    <div class="div-column-w">EUR/MXN <span id="EURMXN"></span></div>


</marquee>

     </div>


     
<script src="/index.js"></script> 
    </body>
</html>