<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=VT323&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
<div class="main-content">
      <div class="marquee">
      <ul class="marquee-content">
          
    <div class="div-column"><li>TIIE 28 <span id="TIIE28"></span></li></div>
    <div class="div-column-w"><li>TIIE 91 <span id="TIIE91"></span></li></div>
    <div class="div-column"><li>TIIE 182 <span id="TIIE182"></span></li></div>
    <div class="div-column-w"><li>LIBOR 1M <span id="LIBOR1M"></span></li></div>
    <div class="div-column"><li>LIBOR 2M <span id="LIBOR2M"></span></li></div>
    <div class="div-column-w"><li>LIBOR 3M <span id="LIBOR3M"></span></li></div>
    <div class="div-column"><li>LIBOR 6M <span id="LIBOR6M"></span></li></div>

    <div class="div-column-w"><li>LIBOR 12M <span id="LIBOR12M"></span></li></span></div>
    <div class="div-column"><li>MXN/USD <span id="MXNUSD"></span></li></div>
    <div class="div-column-w"><li>USD/MXN <span id="USDMXN"></span></li></div>
    <div class="div-column"><li>EUR/USD <span id="EURUSD"></span></li></div>
    <div class="div-column-w"><li>USD/EUR <span id="USDEUR"></span></li></div>
    <div class="div-column"><li>MXN/EUR <span id="MXNEUR"></span></li></div>
    <div class="div-column-w"><li>EUR/MXN <span id="EURMXN"></span></li></div>

      </ul>     


      </div>

     </div>


     
<script src="/index.js"></script> 
    </body>
</html>